src/main/resources/data/filler/Cash.dtd

<!ENTITY version "V0.01 (C) Team 2 2019">
<!ELEMENT wad (description, (cash*))>
<!ELEMENT cash (type, denomination, valueInCents, initialQuantity)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT denomination (#PCDATA)>
<!ELEMENT valueInCents (#PCDATA)>
<!ELEMENT initialQuantity (#PCDATA)>
<!ELEMENT description (#PCDATA)>
